<h1 class="mt-4 color-Title">Clientes</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">{{client.id ? 'Edição':'Cadastro'}}</li>
</ol>
<div class="container">
  <form #clientForm="" ngForm (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="sucess == true">
          Cliente criado/atualizado com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>

    <div class="row" *ngIf="client.id">
      <div class="col-md-6">
        <div class="form-group">
          <label>Id:</label>
          <input type="text" class="form-control" name="id" [ngModel]="client.id" disabled="true">

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Data Cadastro:</label>
          <input type="text" class="form-control" name="dataCadastro" [ngModel]="client.date_register" disabled="true">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Nome:*</label>
          <input type="text" class="form-control" [(ngModel)]="client.name" name="name">

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Sobrenome: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.lastName" name="lastname">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Cpf:*</label>
          <input type="text" class="form-control" [(ngModel)]="client.cpf" name="cpf">

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Cidade: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.city" name="cpf">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Telefone:*</label>
          <input type="text" class="form-control" [(ngModel)]="client.telephone" name="telephone">

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Celular: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.celullar" name="celullar">

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Email: *</label>
          <input type="text" class="form-control" [(ngModel)]="client.email" name="email">

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!client.id"><i class="fa fa-save"></i>
          Salvar
        </button>
        <button type="submit" class="btn btn-primary" *ngIf="client.id"><i class="fa fa-sync-alt"></i>
          Atualizar
        </button>

        <button type="button" (click)="backClientsList()" class="btn btn-danger ml-2"><i class="fa fa-arrow-alt-circle-left"></i>
          Voltar
        </button>
      </div>
    </div>
  </form>
</div>